services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend

  web:
    image: cr.yandex/crp2b5pkp2eu3ecdvgva/fastapi:latest
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_TABLE: ${MYSQL_TABLE}
    depends_on:
      - db
    networks:
      backend:
        ipv4_address: 172.20.0.5

include:
  - proxy.yaml

volumes:
  mysql_data:

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
