version: "3.8"
services:
  db:
    image: mysql:8
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      myapp_net:
        ipv4_address: 10.0.1.3
    deploy:
      replicas: 1

  web:
    image: localhost:8082/fastapi:latest
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_TABLE=${MYSQL_TABLE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - "8082:5000"
    depends_on:
      - db
    networks:
      myapp_net:
        ipv4_address: 10.0.1.10
    deploy:
      replicas: 2

volumes:
  mysql_data:
    driver: local

networks:
  myapp_net:
    driver: overlay
    attachable: true
