# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate backup files
*.tfstate.backup
*.tfstate.*.backup

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars
**/personal.auto.tfvars
key.json
**/key.json
s3_keys.json
**/s3_keys.json

# SSH keys
**/id_ed25519
**/id_ed25519.pub
id_ed25519
id_ed25519.pub