services:
  vector:
    image: vector:latest
    container_name: vector
    environment:
      VECTOR_LOG_DIR: {{ vector_log_dir }}
      VECTOR_CONFIG_DIR: {{ vector_config_dir }}
      VECTOR_BIN: {{ vector_bin }}
      TELEMETRY_ADDRESS: {{ telemetry_address }}
      TELEMETRY_PORT: {{ telemetry_port }}
      LOKI_ENDPOINT: {{ loki_endpoint }}
      LOKI_PORT: {{ loki_port }}
      ELASTICSEARCH_ENDPOINT: {{ elasticsearch_endpoint }}
      ELASTICSEARCH_PORT: {{ elasticsearch_port }}
    volumes:
      - {{ vector_logs_volume }}:/var/log/vector
      - {{ vector_config_volume }}:/etc/vector
    ports:
      - "{{ telemetry_port }}:8686"
    restart: always
    mem_limit: {{ docker_memory_limit }}
    cpus: "{{ docker_cpu_limit }}"

volumes:
  {{ vector_config_volume }}:
  {{ vector_logs_volume }}:
