[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target
Requires=network-online.target

[Service]
User=vector
Group=vector
ExecStartPre={{ vector_bin }} validate
ExecStart={{ vector_bin }}
ExecReload={{ vector_bin }} validate --no-environment
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/default/vector
StartLimitInterval=10
StartLimitBurst=5

# Memory limits
MemoryMax={{ systemd_memory_max }}
MemoryHigh={{ systemd_memory_high }}
MemorySwapMax={{ systemd_memory_swap_max }}

# CPU limits
CPUQuota={{ systemd_cpu_quota }}
CPUWeight={{ systemd_cpu_weight }}

[Install]
WantedBy=multi-user.target
